body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #2b2a3e;
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

a:hover { color: #00ff00; } button a:hover { color: #ff00ff; } img a:hover { color: #0000ff; } p a:hover { color: #ffff00; }


header {
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #ffffff;
}

h2 {
    text-align: center;
    margin: 10px; 
    color: #8d7da1;
}

.logo {
    max-width: 200px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.slides {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.slide {
    width: 25%; /* Set to 25% for screens larger than 600px */
    background-color: #413e5c;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}

.small-text {
    font-size: 0.8em;
    color: #8d8aa9;
    margin-top: 10px;
}

button {
    border: none;
    border-radius: 13px;
    margin: 2vw;
    width: 50%; /* Set to 50% for screens larger than 600px */
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
        margin-bottom: 5px;
    }

    h2 {
        margin: 5px; 
    }

    .slide {
        width: 100%; /* Set to 100% for screens smaller than 600px */
    }

    button {
        width: 100%; /* Set to 100% for screens smaller than 600px */
    }
}
